*{
    margin: 0;
    padding: 0;
}

.box1{
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
}

.box2{
    height: 100vh;
    width: 100%;
    background-color: darkolivegreen;
}

.box3{
    height: 100vh;
    width: 100%;
    background-color: hotpink;
}